
@model FSpacerHelper.Models.SearchInputModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SearchSpacerCards";
}
<br />
<br />
<br />
<br />
<br />
<form asp-controller="SpacerCards" asp-action="SearchResults" method="post">
    <label asp-for="SearchDriveNumber"></label>
    <input asp-for="SearchDriveNumber" type="text" /><br />
    <input type="submit" value="submit" /><br />
</form>